<div ng-controller="customTasksController">

		<h3 class="title">To Do List</h3>
		<form>
			<label>Add a task:</label>
			<div class="form-inline">
				<!-- <label>Add a task:</label> -->
				<input type="text" class="form-control" id="bar" ng-model="newTask.to_do">
				<button class="btn btn-default" ng-click="addTask()">Add Task</button>
			</div>
<!-- 			<div class="form-group">
				<button class="btn btn-default" ng-click="addTask()">Add Task</button>
			</div> -->
		</form>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Tasks</th>
<!-- 				<th>Last Name</th>
				<th>Favorite Language</th> -->
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks">
				<td ng-bind="task.to_do"></td> 
			<!-- 	<td ng-bind="user.last_name"></td>
				<td>{{ user.lang }}</td> -->
				<td>
					<form>
						<button class="btn btn-danger" ng-click="deleteTask($index)">Remove Task</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>